/* SmartBar styles
-------------------------------------------------------------- */
.smartbar {
    position: fixed;
    height: 54px;
    width: 100vw;
    line-height: 54px;
    z-index: 100;
    margin-bottom: 1px;
}

.smartbar-logo-frame {
    width: 45%;
    float: left;
}

.smartbar-logo {
    margin-left: 6px;
}

.smartbar-back-frame {
    width: 45%;
    float: right;
}

.smartbar-back-link {
    display: block;
    cursor: pointer;
    text-align: right;
    margin-right: 12px;
}


/* SmartBar frame styles
-------------------------------------------------------------- */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden !important;
}

.smartbar-frame {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
    position: absolute;
    top: 54px;
    left: 0;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-device-width : 667px) {
    .smartbar {
        height: 108px;
        line-height: 36px;
    }

    .smartbar-logo-frame, .smartbar-back-frame {
        width: 100%;
        float: none;
        clear: both;
        text-align: center;
    }

    .smartbar-logo {
        margin-left: 0;
    }

    .smartbar-back-link {
        text-align: center;
        margin-right: 0;
    }
}
